
#stockVisuals
{
    input[type=text]
    {
        text-transform: uppercase;
    }

    .icon
    {
        cursor: pointer;
        padding: 6px;
    }

    .active { border-bottom: 5px solid $darkblue; }
    .pad { margin: 15px 0; }

    #dataTable
    {
        max-height: 85%;
        overflow: auto;
    }
}

.nopad { padding: 0 !important; margin: 0 !important;}