
#stockVisuals
{
    input[type=text]
    {
        text-transform: uppercase;
    }

    .icon
    {
        cursor: pointer;
        margin: 10px;
        padding: 6px;
    }

    .active {border-bottom: 5px solid $darkblue;}
}

.nopad { padding: 0 !important; margin: 0 !important;}