
#stockVisuals
{
    input[type=text]
    {
        text-transform: uppercase;
    }
    .title { background-color: $aquablue; color: $beige; font-size: 2em; }
    .icon
    {
        cursor: pointer;
        padding: 6px;
    }

    .active { border: 4px solid $olivegreen; border-radius: 1px; }
    .pad { margin: 15px 0; }

    #dataTable
    {
        max-height: 85%;
        overflow: auto;
    }
}

.nopad { padding: 0 !important; margin: 0 !important;}